body {
  overflow-x: hidden; }

.main-nav {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77px; }

.logo {
  padding-left: 17px;
  padding-top: 13px;
  padding-bottom: 3px; }

.main-nav__list {
  display: none; }

.icon-bars {
  color: white; }

.main-nav__icon-wrapper {
  right: 0;
  width: 100%;
  justify-content: right;
  text-align: right;
  padding-top: 26px;
  padding-bottom: 17px;
  padding-right: 18px;
  font-size: 56px; }

@media (min-width: 768px) {
  .main-nav__icon-wrapper {
    padding-top: 32px;
    padding-bottom: 17px;
    padding-right: 20px; } }

@media (min-width: 1024px) {
  .main-nav {
    justify-content: space-between; }
  .main-nav__list {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none; }
  .logo {
    margin-right: auto; }
  .main-nav__item {
    margin-bottom: 25px;
    margin-top: 33px; }
    .main-nav__item:last-child {
      margin-left: 69px;
      margin-right: 61px; }
  .main-nav__item:first-child {
    margin-right: 18px;
    margin-bottom: 21px; }
  .main-nav__link {
    color: white;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    font-weight: bold; }
  .first-nav-link {
    text-decoration: underline 5px white; }
  .main-nav__icon-wrapper {
    display: none; } }

.grid {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-top: 17px; }

.list {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.list__item {
  margin-bottom: 19.5px; }

.card {
  max-width: 360px;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  box-sizing: border-box; }

.card__header {
  border-bottom: 1px solid #d8d8d8;
  margin-left: 23px;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans",serif;
  margin-right: 23px;
  margin-bottom: 6px;
  box-sizing: border-box; }

.card__title {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  text-align: left;
  width: 100%;
  height: 21px;
  margin-bottom: 7px;
  margin-top: 18px; }

.card__badge {
  background-color: white;
  color: black;
  padding-bottom: 4px;
  padding-top: 13px;
  height: 29px;
  width: 32px;
  box-sizing: border-box;
  padding-left: 3px; }

.card__badge-img {
  height: 29px;
  width: 32px; }

.card__content {
  display: flex;
  text-align: justify;
  margin-left: 22px;
  margin-right: 24px;
  box-sizing: border-box; }

.card__image img {
  margin-top: 3px;
  margin-left: 2px;
  border: 1px solid #a8a8a8; }

.card__text {
  width: 172px;
  height: 119px;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 1px;
  margin-bottom: 12px;
  line-height: 14px;
  text-align: justify;
  box-sizing: border-box;
  font-family: 'Arial'; }

.card__actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
  margin-bottom: 21px;
  margin-left: 24px; }

.card__price {
  font-weight: bolder;
  font-size: 14px;
  margin-right: 12px;
  margin-top: 6px; }

.button-div {
  width: 156px; }

.button {
  box-sizing: border-box;
  font-size: 14px;
  background-color: black;
  width: 156px;
  height: 34px;
  color: white;
  border-radius: 18px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 46px;
  font-weight: bolder;
  padding-right: 46px;
  line-height: 16px; }

@media (min-width: 768px) {
  .grid {
    position: absolute;
    top: 502px;
    padding-top: 10px;
    padding-left: 21px;
    padding-bottom: 8px; }
  .list__item {
    margin-right: 13px;
    margin-bottom: 8px; } }

@media (min-width: 1024px) {
  .grid {
    height: 592px;
    top: 577px;
    padding-top: 56px;
    padding-bottom: 39px;
    padding-left: 68px;
    padding-right: 18px; }
  .list__item {
    margin-bottom: 13px;
    margin-right: 38px; } }

/*
This is for image section and search form section
*/
.conatiner__imageWrapper {
  position: relative;
  height: 304px;
  overflow: hidden;
  width: 100%; }

.container__mobile-banner-small {
  position: absolute;
  object-fit: cover;
  height: 304px; }

.container__img {
  width: 100%;
  height: 304px; }

.container__main-banner {
  display: none; }

.container__mobile-banner {
  display: none; }

.icon-search {
  font-size: 30px;
  color: #8E8E8E; }

.search {
  margin-top: 15px;
  margin-left: 27px;
  margin-right: 95px;
  width: 100%;
  align-items: center; }

.search__title {
  width: 100%;
  font-size: 24px; }

.search__text {
  width: 238px;
  height: 56px; }

.search__form {
  height: 44px;
  width: 303px;
  margin-top: 15px;
  display: flex;
  padding: 5px;
  border: 1px solid #8E8E8E;
  border-radius: 20px; }

.search__input {
  padding-left: 8px;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 18px;
  width: 100%;
  border: none;
  outline: none; }

.search__button {
  padding-right: 11px;
  border: none;
  outline: none;
  font-size: 18px;
  background: none; }

@media (min-width: 768px) {
  .container__mobile-banner-small .container__main-banner {
    display: none; }
  .container__mobile-banner {
    display: block; }
  .conatiner__imageWrapper {
    position: relative;
    height: 428px; }
  .container__mobile-banner {
    height: 428px;
    width: 100%; }
  .search {
    position: absolute;
    top: 284px;
    margin-left: 60px; }
  .search__input {
    padding-top: 14px;
    padding-bottom: 9px;
    padding-left: 11px;
    line-height: 21px;
    font-size: 18px;
    width: 100%; }
  .search__button {
    outline: 0;
    font-size: 18px;
    background: 0;
    border: 0;
    padding-right: 13px; }
  .search__text {
    width: 359px;
    height: 83px;
    margin-top: 0px; }
  .search__title {
    margin-top: 0px;
    color: white;
    margin-left: 0px;
    font-size: 36px; }
  .search__form {
    background: white;
    width: 663px;
    height: 44px;
    margin-top: 41px; } }

@media (min-width: 1028px) {
  .conatiner__imageWrapper {
    height: 500px; }
  .container__main-banner {
    display: block;
    width: 100%;
    position: absolute; }
  .container__mobile-banner {
    display: none; }
  .container__mobile-banner-small {
    display: none; }
  .search__form {
    padding-top: 12px;
    padding-bottom: 11px;
    padding-left: 25px;
    padding-right: 16px; }
  .search {
    top: 306px;
    left: 92px;
    margin: 0px; }
  .search__form {
    display: flex;
    width: 538px;
    height: 44px;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    margin-left: 3px;
    margin-top: 35px;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 16px; }
  .search__button {
    height: 26px;
    margin-right: -16px; }
  .search__input {
    padding: 0px; }
  .search__text {
    width: 591px;
    height: 42px;
    margin: 0px; } }

.footer {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bolder;
  height: 88px;
  width: 100%; }

.footer-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer__text {
  width: 184px;
  height: 28px;
  margin-right: 153px;
  margin-top: 23px;
  margin-left: 21px; }

.footer__terms {
  margin-top: 13px;
  margin-bottom: 19px; }

@media (min-width: 768px) {
  .footer {
    position: absolute;
    bottom: 0;
    height: 60px; }
  .footer__text {
    width: 100%;
    height: 13.77px;
    margin-top: 26.56px;
    margin-bottom: 19.67px;
    margin-left: 14px;
    margin-right: 0px; }
  .footer__terms {
    text-align: right;
    width: 100%;
    height: 13.77px;
    padding-right: 23px; } }

@media (min-width: 1280px) {
  .footer {
    height: 60px;
    display: flex;
    align-content: center;
    margin: 0px; }
  .footer-sections {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .footer__text {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 44px; }
  .footer__terms {
    margin-right: 24px;
    margin-bottom: 27px;
    margin-top: 19px;
    width: 100%;
    text-align: right; } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.button:hover {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50; }
