.grid {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding-top: 17px;
}
.list {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.list__item {
  margin-bottom: 19.5px;
}
.card {
  max-width: 360px;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

.card__header {
  border-bottom: 1px solid #d8d8d8;
  margin-left: 23px;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans",serif;
  margin-right: 23px;
  margin-bottom: 6px;
  box-sizing: border-box;
}
.card__title {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
  text-align: left;
  width: 100%;
  height: 21px;
  margin-bottom: 7px;
  margin-top: 18px;
}
.card__badge {
  background-color: white;
  color: black;
  padding-bottom: 4px;
  padding-top: 13px;
  height: 29px;
  width: 32px;
  box-sizing: border-box;
  padding-left: 3px;
}


.card__badge-img {
    height: 29px;
    width: 32px;
}
.card__content {
  display: flex;
  text-align: justify;
  margin-left: 22px;
  margin-right: 24px;
  box-sizing: border-box;
}

.card__image img {
    margin-top: 3px;
    margin-left: 2px;
    border: 1px solid rgb(168, 168, 168);
}
.card__text {
  width: 172px;
  height: 119px;
  font-size: 12px;
  margin-left: 15px;
  margin-top: 1px;
  margin-bottom: 12px;
  line-height: 14px;
  text-align: justify;
  box-sizing: border-box;
  font-family: 'Arial';
}


.card__actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1px;
  margin-bottom: 21px;
  margin-left: 24px;
}
.card__price {
  font-weight: bolder;
  font-size: 14px;
  margin-right: 12px;
  margin-top: 6px;
}
.button-div {
  width: 156px;
}

.button {
  box-sizing: border-box;
  font-size: 14px;
  background-color: black;
  width: 156px;
  height: 34px;
  color: white;
  // border: 1px solid black;
  border-radius: 18px;
  padding-top: 8px;
  padding-bottom: 9px;
  padding-left: 46px;
  font-weight: bolder;
  padding-right: 46px;
  line-height: 16px;
}


@media (min-width: 768px) {
  .grid {
    position: absolute;
    top: 502px;
    padding-top: 10px;
    padding-left: 21px;
    padding-bottom: 8px;
  }
  .list__item {
    margin-right: 13px;
    margin-bottom: 8px;
  }
}
@media (min-width: 1024px) {
  .grid {
    height: 592px;
    top: 577px;
    padding-top: 56px;
    padding-bottom: 39px;
    padding-left: 68px;
    padding-right: 18px;
  }
  .list__item {
    margin-bottom: 13px;
    margin-right: 38px;
  }

 
}
